<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<a href="{%url 'start_app' %}"> Home</a>

<form action="{% url 'student_view' %}" method="post">


    {% csrf_token %}
    <div class="form-group">
        <label>School Name</label>
        <select class="form-control" name="school_id" id="school_id" aria-describedby="emailHelp">
            {%for sch in school%}
            <option value="{{sch.id}}">
                {{sch.name}}
            </option>
            {%endfor%}
        </select>
        <div class="form-group">
            <label>Student Name</label>
            <input type="text" class="form-control" name="name" id="name"
                   placeholder="Enter name">
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{%for student in students %}
<p>name = {{student.name}} id = {{student.id}} school- {{student.school.name}}</p> <a href="{%url 'delete_student' student.id %}">delete</a><br>

{%endfor%}
</body>
</html>